{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% block titlemsg %}
  <br>
  <h1>Вот что я умею</h1>
  <br>
{% endblock %}
{% block content %}
<div class='row'>
  <aside class='col-12 col-md-3'>
    <ul class='list-group list-group-flush'>
      <li class='list-group-item'>
        SQL
      </li>
      <li class='list-group-item'>
        HTML
      </li>
      <li class='list-group-item'>
        CSS
      </li>
      <li class='list-group-item'>
        Django
      </li>
      <li class='list-group-item'>
        Bootstrap
      </li>
      <li class='list-group-item'>
        Unittest
      </li>
      <li class='list-group-item'>
        Pythonanywhere
      </li>
    </ul>
  </aside>
  <article class='col-12 col-md-9'>
    <p>В моём портфолио появился ещё один учебный проект от @practicum-russia: социальная сеть Yatube с авторизацией, персональными лентами, комментариями и подпиской на авторов.
      Чтобы написать этот проект, мне нужно было:
     разобраться в основах HTML и вёрстки для бэкенд-разработчика;
     создать основу для Django-проекта и добавить в него новые приложения;
     применить MVC на практике;
     использовать шаблонизатор Django;
     освоить Django ORM;
     написать тесты;
     задеплоить проект в облако.
     Инструменты и стек: #python #HTML #CSS #Django #Bootstrap #Unittest #Pythonanywhere</p>
  </article>
</div>
{% endblock %}
